__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
*.pyc
*.pyo
*.pyd
.env
env/**/.secrets
env/**/.env.local
dist/
build/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
coverage.xml
htmlcov/
reports/
node_modules/
.cache/
docker-data/
packages/shared_psql_models/*.egg-info/


