APP_NAME=event_broker
ENVIRONMENT=production
API_HOST=0.0.0.0
API_PORT=8030
LOG_LEVEL=info
DATABASE_URL=postgresql+asyncpg://<user>:<pass>@shared_psql:5432/<db>
SYNC_DATABASE_URL=postgresql+psycopg://<user>:<pass>@shared_psql:5432/<db>
LISTEN_CHANNEL=instances_notify
RABBITMQ_URL=amqp://<user>:<pass>@event_bus:5672/<vhost>
OUTGOING_EXCHANGE=events.topic


