APP_NAME=event_broker
ENVIRONMENT=development
API_HOST=0.0.0.0
API_PORT=8030
LOG_LEVEL=debug
DATABASE_URL=postgresql+asyncpg://botberi_shared:botberi_shared@shared_psql:5432/botberi_shared
SYNC_DATABASE_URL=postgresql+psycopg://botberi_shared:botberi_shared@shared_psql:5432/botberi_shared
LISTEN_CHANNEL=instances_notify
RABBITMQ_URL=amqp://botberi_rmq:botberi_rmq@event_bus:5672//
OUTGOING_EXCHANGE=events.topic


