APP_NAME=user_backend
ENVIRONMENT=development
API_HOST=0.0.0.0
API_PORT=8010
LOG_LEVEL=debug
DATABASE_URL=postgresql+asyncpg://botberi_user:botberi_pass@user_psql:5432/botberi_users
SYNC_DATABASE_URL=postgresql+psycopg://botberi_user:botberi_pass@user_psql:5432/botberi_users
JWT_SECRET=change-me
JWT_ALG=HS256
REDIS_URL=redis://user_redis:6379/0
RABBITMQ_URL=amqp://botberi_rmq:botberi_rmq@event_bus:5672//
CELERY_DEFAULT_QUEUE=user_default
SHARED_PG_DSN=postgresql+asyncpg://botberi_shared:botberi_shared@shared_psql:5432/botberi_shared


